<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
        
        &nbsp;&nbsp;&nbsp;
        
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/dashboard">Agencia de Viajes</button>&nbsp;

        <button type="button" class="btn btn-secondary btn-lg" routerLink="/allvehicles">Nuestros Vehiculos</button>&nbsp;
        
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/allhotels">Nuestros Hoteles</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/allflights">Nuestros Vuelos</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/ofertasvehiculos">Ofertas Vehiculos</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/ofertashoteles">Ofertas Hoteles</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/ofertasvuelos">Ofertas Vuelos</button>&nbsp;



       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  

        <button type="button" class="btn btn-secondary btn-lg" routerLink="/registro">Registro</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/login">LogIn</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-lg" (click)="logout()"> LogOut</button>
        
      </span>
  </nav>
  <br> <br>
